<mat-form-field class="full-width" [appearance]="config.appearance || 'outline'" subscriptSizing="dynamic">
  <mat-label>
    {{ config.label }}
  </mat-label>

  @if (config.prefixIcon) {
  <mat-icon matPrefix>
    {{ config.prefixIcon }}
  </mat-icon>
  }

  <input
    matInput
    [formControl]="control"
    [type]="inputType"
    [placeholder]="config.placeholder || ''"
    [readonly]="config.readonly"
    [attr.minlength]="config.minlength"
    [attr.maxlength]="config.maxlength"
    [attr.min]="config.min"
    [attr.max]="config.max"
    [attr.step]="config.step"
    [attr.pattern]="config.pattern"
    (input)="handleInput($event)"
  />

  @if (config.type === 'password') {
  <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
    <mat-icon>
      {{ showPassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </button>
  } @if ((config.icon || config.iconPath) && config.type !== 'password') {
  <button mat-icon-button matSuffix type="button" (click)="handleIconClick()">
    @if (config.iconPath) {
    <img [src]="config.iconPath" width="22" height="22" alt="icon" />
    } @if (config.icon) {
    <mat-icon>
      {{ config.icon }}
    </mat-icon>
    }
  </button>
  } @if (config.hint) {
  <mat-hint>
    {{ config.hint }}
  </mat-hint>
  }

  <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>
