<!-- input-field.html -->

<mat-form-field
  class="full-width"
  [appearance]="this.config.appearance || 'outline'"
  [subscriptSizing]="this.config.subscriptSizing || 'dynamic'"
>
  <mat-label>
    {{ this.config.label }}

    @if (isRequired) {
      <span class="required-star">*</span>
    }
  </mat-label>

  @if (this.config.prefixIcon) {
    <mat-icon matPrefix class="prefix-icon">
      {{this.config.prefixIcon }}
    </mat-icon>
  }

  <input
    matInput
    [type]="inputType"
    [placeholder]="this.config.placeholder||'' "
    [disabled]="disabled"
    [readonly]="this.config.readonly" 
    [value]="value"
    [attr.minlength]="this.config.minlength"
    [attr.maxlength]="this.config.maxlength"
    [attr.min]="this.config.min"
    [attr.max]="this.config.max"
    [attr.step]="this.config.step"
    [attr.pattern]="this.config.pattern"
    autocomplete="new-password"
    (input)="handleInputEvent($event)"
    (blur)="onTouched(); markTouched()"
  />

  @if (this.config.type === 'password') {
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="togglePassword()"
      [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
      tabindex="-1"
    >
      <mat-icon>
        {{ showPassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
  }

  @if ((this.config.iconPath || this.config.icon) && this.config.type !== 'password') {
    <span matSuffix>
      <button
        mat-icon-button
        type="button"
        (click)="handleIconClick()"
      >
        @if (this.config.iconPath) {
          <img
            [src]="this.config.iconPath"
            width="22"
            height="22"
            alt="icon"
          />
        }
        @else if (this.config.icon) {
          <mat-icon>{{ this.config.icon }}</mat-icon>
        }
      </button>
    </span>
  }

  @if (this.config.hint) {
    <mat-hint>{{ this.config.hint }}</mat-hint>
  }

  <mat-error>
    {{ errorMessage }}
  </mat-error>
</mat-form-field>