<div class="confirm-dialog">
  <!-- Icon -->

  <div class="confirm-dialog__icon" [ngClass]="data.type || 'danger'">
    <mat-icon>
      @switch (data.type) {
         @case ('warning') { warning }
          @case ('info') { info } 
          @default { delete } 
        }
    </mat-icon>
  </div>

  <!-- Content -->

  <div class="confirm-dialog__content">
    <h2 class="confirm-dialog__title">
      {{ data.title }}
    </h2>

    <p class="confirm-dialog__message">
      {{ data.message }}
    </p>
  </div>

  <!-- Actions -->

  <div class="confirm-dialog__actions">
    <app-common-button
      label="{{ data.cancelText || 'Cancel' }}"
      variant="stroked"
      color="primary"
      (clicked)="cancel()"
    >
    </app-common-button>

    <app-common-button
      label="{{ data.confirmText || 'Confirm' }}"
      variant="flat"
      color="warn"
      (clicked)="confirm()"
    >
    </app-common-button>
  </div>
</div>
