<app-form-dialog
  title="Add New Address"
  subtitle="Fill in the details to save a new delivery address."
  [closeButtonConfig]="closeButtonConfig"
  [cancelButtonConfig]="cancelButtonConfig"
  [submitButtonConfig]="saveButtonConfig">

  <form
    [formGroup]="form"
    (ngSubmit)="save()"
    novalidate>

    <app-common-input [config]="addressLineConfig" />

    <app-common-input [config]="landmarkConfig" />

    <div class="two-col">
      <div class="select-wrapper">
        <app-common-select [config]="stateConfig" />
      </div>

      <div class="select-wrapper">
        <app-common-select [config]="cityConfig" />

        @if (!form.controls.stateId.value) {
          <span class="field-hint">
            Select a state first
          </span>
        }
      </div>
    </div>

    <div class="half-col">
      <app-common-input [config]="pincodeConfig" />
    </div>

  </form>

</app-form-dialog>