<aside class="sidebar" [class.closed]="!isOpen">

    <div class="sidebar-logo">

        <div class="logo-circle">
            <mat-icon>warehouse</mat-icon>
        </div>

        @if (isOpen) {
        <div class="logo-text">
            WMS
        </div>}
    </div>

    <div class="menu-list">
        <a *ngFor="let menu of menus" [routerLink]="menu.route" routerLinkActive="active-menu" class="menu-item">

            <mat-icon>{{ menu.icon }}</mat-icon>

            @if (isOpen) {
            <span>
                {{ menu.title }}
            </span>
            }

        </a>
    </div>
</aside>