  <app-form-dialog
    [title]="title"
    [subtitle]="isEdit
      ? 'Update product details and save changes.'
      : 'Fill in the details to create a new product.'"
    [closeButtonConfig]="closeButtonConfig"
    [cancelButtonConfig]="cancelButtonConfig"
    [submitButtonConfig]="submitButtonConfig">

    <form
      [formGroup]="form"
      novalidate>

      <div class="two-col">
        <app-common-input
          [config]="productNameConfig" />

        <app-common-input
          [config]="productPriceConfig" />
      </div>

      <div class="two-col">
        <app-common-input
          [config]="weightConfig" />

        <app-common-input
          [config]="stockConfig" />
      </div>

      <app-common-textarea
        [config]="descriptionConfig" />

    </form>

  </app-form-dialog>