@use 'styles/variables' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 20px; // space between rows
}

.two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 640px) {
  .two-col,
  .three-col {
    grid-template-columns: 1fr;
  }
}