<header class="header">
  <div class="header-left">
    <button class="menu-btn" mat-icon-button (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <h2 class="menu-btn">WMS</h2>
  </div>

  <div class="profile-section" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>

    <div class="profile-info">
      <span class="profile-name"> Admin </span>
    </div>

    <mat-icon class="dropdown-icon"> keyboard_arrow_down </mat-icon>
  </div>
</header>

<!-- Dropdown Menu -->

<mat-menu #userMenu="matMenu">

  <button
    mat-menu-item
    (click)="goToProfile()">

    <mat-icon>person</mat-icon>
    <span>My Profile</span>

  </button>

  <button
    mat-menu-item
    (click)="logout()">

    <mat-icon>logout</mat-icon>
    <span>Logout</span>

  </button>

</mat-menu>