<app-form-dialog
  title="Add City"
  [subtitle]="'Fill in the details to add a new city to ' + selectedStateName + '.'"
  [closeButtonConfig]="closeButtonConfig"
  [cancelButtonConfig]="cancelButtonConfig"
  [submitButtonConfig]="submitButtonConfig">

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    novalidate>

    <div class="field-group">
      <app-common-input [config]="nameConfig" />
    </div>

    <div class="field-group">
      <app-common-select [config]="stateSelectConfig" />
    </div>

  </form>

</app-form-dialog>