<mat-form-field
  class="full-width"
  [appearance]="appearance"
  [subscriptSizing]="subscriptSizing">

  <mat-label>
    {{ label }}
  </mat-label>

  @if (prefixIcon) {
    <mat-icon matPrefix class="prefix-icon">
      {{ prefixIcon }}
    </mat-icon>
  }

  <mat-select
    [value]="value"
    [disabled]="disabled"
    (selectionChange)="handleSelection($event.value)"
    (blur)="onTouched(); markTouched()">

    @for (option of options; track option.value) {
      <mat-option [value]="option.value">
        {{ option.label }}
      </mat-option>
    }

  </mat-select>

  @if (hint) {
    <mat-hint>
      {{ hint }}
    </mat-hint>
  }

  @if (errorMessage) {
    <mat-error>
      {{ errorMessage }}
    </mat-error>
  }

</mat-form-field>