<div class="dialog-wrapper">
  <div class="dialog-header">
    <div class="dialog-header__content">
      <h2 class="dialog-title">Edit Profile</h2>

      <p class="dialog-subtitle">Update your profile information.</p>
    </div>

    <app-common-button [config]="closeButtonConfig"> </app-common-button>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="form" class="dialog-body" (ngSubmit)="submit()" novalidate>
    <div class="field-group">
      <app-common-input [config]="nameConfig"> </app-common-input>
    </div>

    <div class="field-group">
      <app-common-input [config]="phoneConfig"> </app-common-input>
    </div>
  </form>

  <mat-divider></mat-divider>

  <div class="dialog-footer">
    <app-common-button [config]="cancelButtonConfig"> </app-common-button>

    <app-common-button [config]="submitButtonConfig"> </app-common-button>
  </div>
</div>
