@use 'styles/variables' as *;

// ── Root Wrapper ───────────────────────────────────────────
.page-wrapper {
  min-height: 100vh;
  background: $page-bg;

  display: flex;
  flex-direction: column;
}

// Header Wrapper
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;

}

// Layout
.customer-layout {
  flex: 1;
  min-width: 0;
}